<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Porfolio Web</title>
</head>
<body>
    <main>
        <nav id="nav">
            <div id="nav-div" class="nav-div">
                <ul class="nav-ul">
                    <h3>My Web</h3>
                    <li>
                        <a href="">Hola</a>
                    </li>
                    <li>
                        <a href="">quien soy</a>
                    </li>
                    <li>
                        <a href="">contact</a>
                    </li>
                </ul>
                <div id="nav-div2">
                   <div id="div-img">
                    <img src="/img/mySelf.png" alt="" id="myself">
                    </div>
                    <button  class="button-50" role="button">Its Morphin Time</button>  
                     <p id="titulo-stack">Full stack developer</p>
                  
                    
                </div>
            </div>
        </nav>
    </main>
</body>
</html>